{% extends 'base.html' %}

{% block content %}
  <div class=>
    <h2>Zaloguj się na moją stronę, aby zacząć dodawać aktywności!</h2>
    {% if form.errors %}
      <p style="color: red">Twoja nazwa użytkownika bądź hasło są nieprawidłowe, spróbuj jeszcze raz!</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}<br>
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% if field.help_text %}
            <p><small style="color: grey">{{ field.help_text }}</small></p>
          {% endif %}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Zaloguj się</button>
      <a href="{% url 'signup' %}">Pierwszy raz? Zarejestruj się!</a>
    </form>
  </div>
{% endblock %}