{% extends 'base.html' %}
{% block content %}
    <div class="mb-3 ml-3">
        <a href="{% url 'activitie-add' %}">Dodaj Aktywność</a>
    </div>
    {% for activity_date, activities in grouped_activities %}
    <h2 class="mb-2 ml-3">
        {{ activity_date|date:'Y-m-d'}}
    </h2>
    <table class="table table-bordered table-hover table-dark table-striped">
        <tr>
            <th>Do zrobienia</th>
            <th>Godzina</th>
            <th>Status</th>
        {% for activity in activities %}
            <tr onclick="window.location='{% url "activity-detail" activity.id %}';">
                <td>
                    {{activity.activitie}}
                </td>
                <td>
                    {{activity.to_do_date|date:'H:m'}}
                </td>
                {%if activity.is_done%}
                    <td>
                        Zrobione
                    </td>
                {% else %}
                    <td>
                        Nie zrobione
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <hr>
    {% endfor %}
{% endblock %}