{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered table-hover table-dark table-striped">
        <tr>
            <th>Do zrobienia</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
        {% for activitie in activities %}
            <tr onclick="window.location='{% url "activity-detail" activitie.id %}';">
                <td>
                        {{activitie.activitie}}
                </td>
                <td>
                    {{activitie.to_do_date|date:"Y-m-d H:i"}}
                </td>
                {% if activitie.is_done %}
                    <td>
                        Zrobione
                    </td>
                {% else %}
                    <td>
                        Nie zrobione
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}