body
{
    margin: 0;
}

#login-try
{
    text-align: center;
}

.login_menu
{
    text-align: right;
}

td
{
    cursor: pointer;
}

#login_header
{
    text-align: center;
}

.navbar-nav
{
    display: contents;
}

tr
{
    text-align: center;
}

.icon-trash >i
{
    text-align: right;
}
